%h1 Initial Questions
%p These questions will help us get to know you better and learn what workouts we should and shouldn't build for you!

= simple_form_for [@user, @initial_questionnaire] do |m|
  = m.input :injuries, collection: InitialQuestionnaire::INJURED_BODY_PARTS, as: :check_boxes
  = m.simple_fields_for :goals do |g|
    = g.input :name, collection: InitialQuestionnaire::GOAL_NAMES, as: :check_boxes
    = g.hidden_field :user_id, value: current_user.id
  = m.submit

%p= "Not ready to fill this out just yet? #{link_to "Go to your dashboard", user_dashboard_path}".html_safe