= simple_form_for [@workout, @exercise] do |f|
  = f.input :name
  = f.input :youtube_url
  = f.input :sets
  = f.input :reps
  = f.input :weight
  = f.input :is_run?, as: :boolean
  = f.input :time
  = f.input :muscle_group_id, collection: @muscle_groups, group_method: :name
  = f.submit