.panel
  .panel-heading
    .panel-title
      Create Your Workout
  .panel-body
    = simple_form_for [@user, @workout], input_html: {class: "form-horizontal"} do |f|
      .form-group
        =f.label :name, class: "col-lg-2 control-label"
        .col-md-10
          .input-group
            %span.input-group-addon
              %i.fa.fa-hand-o-right
            = f.input_field :name, class: "form-control margin-top-none"
      .form-group
        =f.label :date, class: "col-lg-2 control-label"
        .col-md-10
          .input-group
            %span.input-group-addon
              %i.fa.fa-hand-o-right
            = f.input_field :date, class: "form-control datepicker margin-top-none"
      = f.submit

= simple_form_for [@workout, @exercise] do |f|
  = f.input :name
  = f.input :youtube_url
  = f.input :sets
  = f.input :reps
  = f.input :weight
  = f.input :is_run?, as: :boolean
  = f.input :time
  = f.input :muscle_group_id, collection: @muscle_groups, group_method: :name
  = f.submit