-unless @user.personal_detail
  %p We want to help you track your fitness and goals! A great way to quantify your goals (so you can actually see progress) is through body measurements!
= link_to "Here's a printable tape so you can take some measurements right away.", "#"
<br />
= link_to "Here's some instructions for how to measure different parts of your body!", "#"

= simple_form_for [@user, @personal_detail] do |f|
  - unless @user.personal_detail
    = f.input :gender, :collection => %w[Male Female]
  = f.input :weight
  = f.input :bicep
  = f.input :shoulders
  = f.input :chest
  = f.input :neck
  = f.input :waist
  = f.input :hips
  = f.input :thigh
  = f.input :resting_heart_rate
  = f.input :calf
  = f.button :submit