-unless @user.age
  =link_to "We'd like to learn more about you, click here to introduce yourself (don't worry, it's short!)", user_introduction_path

- if @personal_detail
  %h2 Log your Progress
  = link_to "Click here to checkin any time you want", edit_user_personal_detail_path(@user, @personal_detail)
  <br />
  = link_to "Create a new workout", new_user_workout_path(@user)
- else
  %h2 Get Started!
  = link_to "It looks like you haven't checked in your measurements yet. Click here to do so", new_user_personal_detail_path(@user)
  <br />
  = link_to "Or click here to learn how to measure properly.", "#"

- if @user.workouts.count > 0
  .row
    .col-sm-12
      .pricing-tables.margin-top-lg.text-center
        - for workout in @workout do
          .col-sm-2
            .pricing-plan
              .pricing-title.btn-light2
                %h3
                  =link_to workout.name, user_workout_path(current_user.id, workout.id)
                %h6
                  = workout.date.strftime("%Y-%m-%d")
              .pricing-features
                %ul
                  - for exercise in workout.exercises
                    %li
                      %b
                        = exercise.name
                    #workout-stats
                      %ul.workout-numbers
                        %li= "Reps: #{exercise.reps}"
                        %li= "Sets: #{ exercise.sets}"
                        %li= "Weight: #{exercise.weight}"
              .pricing-icons
                %ul
                  %li
                    %i.fa.fa-times
              = link_to "Edit", edit_user_workout_path(@user, workout.id), class: "btn btn-primary btn-sm"
              = link_to "Delete", delete_workout_path(workout.id), class: "btn btn-danger btn-sm", method: :delete, confirm: "Are you sure?"

<br /><br />
- if @user.initial_test && @user.initial_test.complete?
  %h2 Finished!
- else
  =link_to 'start your initial test!', new_user_initial_test_path(@user)


- if @personal_detail
  .row
    .col-sm-12.col-md-10.col-md-offset-1
      %hr.alt/
      .pricing-tables.margin-top-lg.text-center.row
        - @personal_detail.versions.last(4).map do |f|
          - unless f.reify == nil
            .col-sm-4.col-md-3.hero-plan
              .pricing-plan.margin-none
                .pricing-title.btn-blue4
                  %h3
                    = f.reify.date
                .pricing-features
                  %ul
                    %li
                      %i.glyphicons.glyphicons-heart
                      %b Resting Heart Rate:
                      = f.reify.resting_heart_rate
                    %li
                      %i.fa.fa-hdd-o
                      %b Weight:
                      = f.reify.weight
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Bicep:
                      = f.reify.bicep
                    %li
                      %i.fa.fa-refresh
                      %b Chest:
                      = f.reify.chest
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Shoulders:
                      = f.reify.shoulders
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Neck:
                      = f.reify.neck
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Waist
                      = f.reify.waist
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Hips:
                      = f.reify.hips
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Thigh:
                      = f.reify.thigh
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Calf:
                      = f.reify.calf
                %a.btn.btn-blue4{href: "#"} Sign up