-unless @user.age
  =link_to "We'd like to learn more about you, click here to introduce yourself (don't worry, it's short!)", user_introduction_path

- if @personal_detail
  %h2 Log your Progress
  = link_to "Click here to checkin any time you want", edit_user_personal_detail_path(@user, @personal_detail)
  <br />
  = link_to "Create a new workout", new_user_workout_path(@user)
- else
  %h2 Get Started!
  = link_to "It looks like you haven't checked in your measurements yet. Click here to do so", new_user_personal_detail_path(@user)
  <br />
  = link_to "Or click here to learn how to measure properly.", "#"

- if @user.workouts.count > 0
  - for workout in @workout do
    .col-md-12
      .panel
        .panel-heading
          %span.workout-modify-buttons
            = link_to "Edit", edit_user_workout_path(@user, workout.id), class: "btn btn-primary btn-sm"
            = link_to "Delete", delete_workout_path(workout.id), class: "btn btn-danger btn-sm", method: :delete, confirm: "Are you sure?"
          .panel-title
            %i.fa.fa-table
            =workout.name
            =workout.date.strftime("%Y-%m-%d")
        .panel-body
          %table.table.table-hover
            %thead
              %tr
                %th
                  Exercise Name
                %th
                  Reps
                %th
                  Sets
                %th
                  Weight
            %tbody
              - for ex in workout.exercises
                %tr
                  %td
                    = ex.name
                  %td
                    = ex.reps
                  %td
                    = ex.sets
                  %td
                    = ex.weight

<br /><br />

- unless @user.initial_test && @user.initial_test.complete?
  =link_to "We can't build workouts for you until you take our initial test, click here to take it!", new_user_initial_test_path(@user)


- if @personal_detail
  .row
    .col-sm-12.col-md-10.col-md-offset-1
      %hr.alt/
      .pricing-tables.margin-top-lg.text-center.row
        .col-sm-4.col-md-3.hero-plan
          .pricing-plan.margin-none
            .pricing-title.btn-blue4
              %h3
                = @personal_detail.date
            .pricing-features
              %ul
                %li
                  %i.glyphicons.glyphicons-heart
                  %b Resting Heart Rate:
                  = @personal_detail.resting_heart_rate
                %li
                  %i.fa.fa-hdd-o
                  %b Weight:
                  = @personal_detail.weight
                %li
                  %i.glyphicons.glyphicons-dumbbell
                  %b Bicep:
                  = @personal_detail.bicep
                %li
                  %i.fa.fa-refresh
                  %b Chest:
                  = @personal_detail.chest
                %li
                  %i.glyphicons.glyphicons-dumbbell
                  %b Shoulders:
                  = @personal_detail.shoulders
                %li
                  %i.glyphicons.glyphicons-dumbbell
                  %b Neck:
                  = @personal_detail.neck
                %li
                  %i.glyphicons.glyphicons-dumbbell
                  %b Waist
                  = @personal_detail.waist
                %li
                  %i.glyphicons.glyphicons-dumbbell
                  %b Hips:
                  = @personal_detail.hips
                %li
                  %i.glyphicons.glyphicons-dumbbell
                  %b Thigh:
                  = @personal_detail.thigh
                %li
                  %i.glyphicons.glyphicons-dumbbell
                  %b Calf:
                  = @personal_detail.calf
            %a.btn.btn-blue4{href: "#"} See Stats
        - @personal_detail.versions.last(4).map do |f|
          - unless f.reify == nil
            .col-sm-4.col-md-3.hero-plan
              .pricing-plan.margin-none
                .pricing-title.btn-blue4
                  %h3
                    = f.reify.date
                .pricing-features
                  %ul
                    %li
                      %i.glyphicons.glyphicons-heart
                      %b Resting Heart Rate:
                      = f.reify.resting_heart_rate
                    %li
                      %i.fa.fa-hdd-o
                      %b Weight:
                      = f.reify.weight
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Bicep:
                      = f.reify.bicep
                    %li
                      %i.fa.fa-refresh
                      %b Chest:
                      = f.reify.chest
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Shoulders:
                      = f.reify.shoulders
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Neck:
                      = f.reify.neck
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Waist
                      = f.reify.waist
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Hips:
                      = f.reify.hips
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Thigh:
                      = f.reify.thigh
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Calf:
                      = f.reify.calf
                %a.btn.btn-blue4{href: "#"} See Stats