- if @personal_detail
  %h2 Log your Progress
  = link_to "Click here to checkin any time you want", edit_user_personal_detail_path(@user, @personal_detail)
  <br />
  = link_to "If you need to see how to measure properly, click here", "#"
  <br />
  = link_to "Go create a new workout!", new_user_workout_path(@user, @workout)
- else
  %h2 Get Started!
  = link_to "It looks like you haven't checked in your measurements yet. Click here to do so", new_user_personal_detail_path(@user)
  <br />
  = link_to "Or click here to learn how to measure properly.", "#"
/ Why do I have to pass in (@user)?
- if @workout

- if @personal_detail
  .row
    .col-sm-12.col-md-10.col-md-offset-1
      %hr.alt/
      .pricing-tables.margin-top-lg.text-center.row
        - @personal_detail.versions.last(3).map do |f|
          - unless f.reify == nil
            .col-sm-4.col-md-3.hero-plan
              .pricing-plan.margin-none
                .pricing-title.btn-blue4
                  %h3 03-15-14
                .pricing-features
                  %ul
                    %li
                      %i.glyphicons.glyphicons-heart
                      %b Resting Heart Rate:
                      = f.reify.resting_heart_rate
                    %li
                      %i.fa.fa-hdd-o
                      %b Weight:
                      = f.reify.weight
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Bicep:
                      = f.reify.bicep
                    %li
                      %i.fa.fa-refresh
                      %b Chest:
                      = f.reify.chest
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Shoulders:
                      = f.reify.shoulders
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Neck:
                      = f.reify.neck
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Waist
                      = f.reify.waist
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Hips:
                      = f.reify.hips
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Thigh:
                      = f.reify.thigh
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Calf:
                      = f.reify.calf
                %a.btn.btn-blue4{href: "#"} Sign up
        .col-sm-4.col-md-3.hero-plan
          .pricing-plan.margin-none
            .pricing-title.btn-blue4
              %h3 03-15-14
            .pricing-features
              %ul
                %li
                  %i.glyphicons.glyphicons-heart
                  %b Resting Heart Rate:
                  = @personal_detail.resting_heart_rate
                %li
                  %i.fa.fa-hdd-o
                  %b Weight:
                  = @personal_detail.weight
                %li
                  %i.glyphicons.glyphicons-dumbbell
                  %b Bicep:
                  = @personal_detail.bicep
                %li
                  %i.fa.fa-refresh
                  %b Chest:
                  = @personal_detail.chest
                %li
                  %i.glyphicons.glyphicons-dumbbell
                  %b Shoulders:
                  = @personal_detail.shoulders
                %li
                  %i.glyphicons.glyphicons-dumbbell
                  %b Neck:
                  = @personal_detail.neck
                %li
                  %i.glyphicons.glyphicons-dumbbell
                  %b Waist
                  = @personal_detail.waist
                %li
                  %i.glyphicons.glyphicons-dumbbell
                  %b Hips:
                  = @personal_detail.hips
                %li
                  %i.glyphicons.glyphicons-dumbbell
                  %b Thigh:
                  = @personal_detail.thigh
                %li
                  %i.glyphicons.glyphicons-dumbbell
                  %b Calf:
                  = @personal_detail.calf
            %a.btn.btn-blue4{href: "#"} Sign up
