%h2 Steps to Get Started:
%ul
  -unless @user.age
    %li= link_to "We'd like to learn more about you, click here to introduce yourself (don't worry, it's short!)", user_introduction_path
  - unless @user.has_completed_injury_form?
    %li= link_to "Click here to tell us about any injuries you might have. This will prevent us from giving you workouts you can't do!", new_user_injury_path(@user)
    <br />
  - unless @user.initial_test && @user.initial_test.complete?
    %li= link_to "We can't build workouts for you until you take our initial test, click here to take it!", new_user_initial_test_path(@user)
  - unless @user.schedule.filled_out?
    %li= link_to "We need to know your availibility to schedule you workouts!", new_user_schedule_path(@user)
.row
  .col-md-6
    %h2 This is you
  .col-md-6
    %h2 Your goals:

.row#first-user-row
  .col-md-6
    .user-progress-pic.col-md-6
      .wrapper
        -#=image_tag @user.avatar.url(:progress_size)
        = simple_form_for @user, :html => { :multipart => true } do |form|
          =form.file_field :avatar
          =form.submit "Upload Your Photo"
    - if @personal_detail
      .col-md-6
        %ul.list-unstyled
          %li
            %h4 Date: #{@personal_detail.date}
          %li
            %h4 Resting Heart Rate: #{@personal_detail.resting_heart_rate}
          %li
            %h4 Weight: #{@personal_detail.weight}
          %li
            %h4 Bicep: #{@personal_detail.bicep}
          %li
            %h4 Chest: #{@personal_detail.chest}
          %li
            %h4 Calf: #{@personal_detail.calf}
          %li
            %h4 Thigh: #{@personal_detail.thigh}
    .progress-pic-buttons.col-md-6
      %button.btn.btn-primary Past Progress Pics
      %button.btn.btn-primary New Progress Pic
  .col-md-6
    - unless @goals.empty?
      %ul
        - @goals.each do |f|
          %li
            %h4= f.name
    - else
      %p= "Our site is about helping you achieve your goals! #{link_to 'Click here', new_user_goal_path(@user)} to tell us what they are and get started!".html_safe
- if @personal_detail

  = link_to "Click here to checkin any time you want", edit_user_personal_detail_path(@user, @personal_detail)
  <br />
  = link_to "Create a new workout", new_user_workout_path(@user)
- else
  %h2 Get Started!
  = link_to "It looks like you haven't checked in your measurements yet. Click here to do so", new_user_personal_detail_path(@user)
  <br />


- if @personal_detail
  .row
    .col-sm-12.col-md-10.col-md-offset-1
      %hr.alt/
      .pricing-tables.margin-top-lg.text-center.row
        .col-sm-4.col-md-3.hero-plan
          .pricing-plan.margin-none
            .pricing-title.btn-blue4
              %h3
                = @personal_detail.date
            .pricing-features
              %ul
                %li
                  %i.glyphicons.glyphicons-heart
                  %b Resting Heart Rate:
                  = @personal_detail.resting_heart_rate
                %li
                  %i.fa.fa-hdd-o
                  %b Weight:
                  = @personal_detail.weight
                %li
                  %i.glyphicons.glyphicons-dumbbell
                  %b Bicep:
                  = @personal_detail.bicep
                %li
                  %i.fa.fa-refresh
                  %b Chest:
                  = @personal_detail.chest
                %li
                  %i.glyphicons.glyphicons-dumbbell
                  %b Shoulders:
                  = @personal_detail.shoulders
                %li
                  %i.glyphicons.glyphicons-dumbbell
                  %b Neck:
                  = @personal_detail.neck
                %li
                  %i.glyphicons.glyphicons-dumbbell
                  %b Waist
                  = @personal_detail.waist
                %li
                  %i.glyphicons.glyphicons-dumbbell
                  %b Hips:
                  = @personal_detail.hips
                %li
                  %i.glyphicons.glyphicons-dumbbell
                  %b Thigh:
                  = @personal_detail.thigh
                %li
                  %i.glyphicons.glyphicons-dumbbell
                  %b Calf:
                  = @personal_detail.calf
            %a.btn.btn-blue4{href: "#"} See Stats
        - @personal_detail.versions.last(4).map do |f|
          - unless f.reify == nil
            .col-sm-4.col-md-3.hero-plan
              .pricing-plan.margin-none
                .pricing-title.btn-blue4
                  %h3
                    = f.reify.date
                .pricing-features
                  %ul
                    %li
                      %i.glyphicons.glyphicons-heart
                      %b Resting Heart Rate:
                      = f.reify.resting_heart_rate
                    %li
                      %i.fa.fa-hdd-o
                      %b Weight:
                      = f.reify.weight
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Bicep:
                      = f.reify.bicep
                    %li
                      %i.fa.fa-refresh
                      %b Chest:
                      = f.reify.chest
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Shoulders:
                      = f.reify.shoulders
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Neck:
                      = f.reify.neck
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Waist
                      = f.reify.waist
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Hips:
                      = f.reify.hips
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Thigh:
                      = f.reify.thigh
                    %li
                      %i.glyphicons.glyphicons-dumbbell
                      %b Calf:
                      = f.reify.calf
                %a.btn.btn-blue4{href: "#"} See Stats
:css
  .user-progress-pic {
    background: url("#{@user.avatar.url(:progress_size)}") no-repeat;
    background-size: cover;
    display: block;
    position: relative;
    height: 250px;
  }
  #user_avatar {
    width: 250px;
    height: 250px;
    margin-right: 100px;
    opacity: 0;
    filter: alpha(opacity=0); /* IE 5-7 */
    margin-bottom: 8px;
  }