.col-md-6
  .row
    .col-md-12
      .panel
        .panel-heading
          .panel-title
            Create Your Workout
        .panel-body
          = simple_form_for @exercise, url: create_admin_exercises_path, html: { class: "form-horizontal" } do |f|
            .form-group
              =f.label :name, class: "col-lg-2 control-label"
              .col-md-10
                .input-group
                  %span.input-group-addon
                    %i.imoon.imoon-file
                  = f.input_field :name, class: "form-control margin-top-none"
            .form-group
              =f.label :youtube_url, class: "col-lg-2 control-label", label: "URL"
              .col-md-10
                .input-group
                  %span.input-group-addon
                    %i.fa.fa-youtube-play
                  = f.input_field :youtube_url, class: "form-control"
            .form-group
              =f.label :cardio?, class: "col-lg-2 control-label", label: "Run?"
              .col-md-10
                .input-group
                  = f.input :cardio?, class: "form-control", :as => :select, :collection => [['No',false],['Yes',true]], label: false
            .form-group
              =f.label :requires_gym, class: "col-lg-2 control-label", label: "Requires a gym?"
              .col-md-10
                .input-group
                  = f.input :requires_gym, class: "form-control", :as => :select, :collection => [['No',false],['Yes',true]], label: false
            .form-group
              =f.label :proper_form_text, class: "col-lg-2 control-label"
              .col-md-10
                .input-group
                  %span.input-group-addon
                    %i.imoon.imoon-file
                  = f.input_field :proper_form_text, class: "form-control margin-top-none"
            .form-group
              %label.col-lg-2.control-label
                Muscle Groups:
              .col-md-10#muscle-group-input-container
                #muscle-group-inputs.input-group
                  %span.input-group-addon
                    %i.imoon.imoon-accessibility
                  %select{:name => "muscle_groups[][name]"}
                    - for muscle_group in @muscle_groups
                      %option= muscle_group
                  %input{type: "text", style: "width: 30%; margin-left: 5%;", name: "muscle_groups[][weighted_score]"}
            %a{href: "#", id: "add-muscle-group-button"}
              %button Add Another Muscle Group
            .form-group
              .col-md-10
                .input-group
                  = f.submit class: "btn btn-info btn-gradient"
:javascript
  $("#add-muscle-group-button").click(function(){
    event.preventDefault();
    $("#muscle-group-inputs").clone().appendTo("#muscle-group-input-container");
    });