.row
  .panel
    .panel-heading
      .panel-title
        %i.fa.fa-smile-o
        Sign Up
      %span.panel-title-sm.pull-right.padding-right-sm
        Welcome to Calendar Workouts!
    = simple_form_for(resource, :as => resource_name, html:{:class=>"cmxform form-horizontal", :id=> "altForm"}, :url => registration_path(resource_name)) do |f|
      .panel-body
        .form-group
          .col-lg-4
            .input-group
              %span.input-group-addon
                %i.fa.fa-user
              = f.input :name, label: false, placeholder: "Name", input_html: { class: "form-control"}
        .form-group
          .col-lg-4
            .input-group
              %span.input-group-addon
                %i.fa.fa-envelope
              = f.input :email, label: false, placeholder: "Email", input_html: { class: "form-control"}
        .form-group
          .col-lg-4
            .input-group
              %span.input-group-addon
                %i.fa.fa-lock
              = f.input :password, label: false, placeholder: "Password", input_html: { class: "form-control"}
        .form-group
          .col-lg-4
            .input-group
              %span.input-group-addon
                %i.fa.fa-lock
              = f.input :password_confirmation, label: false, placeholder: "Confirm Password", input_html: { class: "form-control"}
        .alert.alert-warning.login-alert
          Please read our <b>Terms of Use</b> before logging in
      .panel-footer
        .form-group
          = f.submit "Create User!", class: "btn btn-default btn-gradient"
= render 'devise/shared/links'

